[pylint]
good-names = h,h_,i,j,k,ex,Run,_,x,y,X,Y,x1,x2,y1,y2,g,p,x_,x0,y0,w,v,t,ax,fp,tp,fn,f1,ve,vp,m,n,M
output-format = colorized
max-line-length = 100
extension-pkg-whitelist = cv2,numpy

[MESSAGES CONTROL]
disable = fixme,
  too-many-instance-attributes, 
  too-few-public-methods, 
  too-many-locals, 
  too-many-function-args, 
  too-many-arguments, 
  bare-except, 
  broad-except, 
  duplicate-code, 
  global-statement, 
  useless-import-alias, 
  chained-comparison, 
  unsubscriptable-object,
  missing-module-docstring

[TYPECHECK]
generated-members=numpy.*,tensorflow.*
ignored-modules = numpy,PurePath,cv2,addict
ignored-classes = numpy,PurePath
